@using WeatherAppTZ.Models
@using WeatherAppTZ.Models.ViewModels

@model WeatherViewModel

<h1>Погода</h1>

<form asp-controller="View" asp-action="GetData" method="get">
    <label for="year">Год: </label>
    <select id="year" name="year">
        <option value="">Все года</option>
        @if(Model?.AllYears != null)
        {
        @foreach (var year in Model?.AllYears)
        {
            <option value="@year">@year</option>
        }
        }
    </select>
    <label for="month">Месяц: </label>
    <select id="month" name="month">
        <option value="">Все месяцы</option>
        @foreach (var item in Enum.GetValues(typeof(Month)))
        {
            <option value="@((int)item)">@item</option>
        }
    </select>
    <button type="submit">Поиск</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Время</th>
            <th>T</th>
            <th>Отн. влажность</th>
            <th>Td</th>
            <th>Атм. давление</th>
            <th>Направление ветра</th>
            <th>Скорость ветра</th>
            <th>Облачность</th>
            <th>H</th>
            <th>VV</th>
            <th>Погодные явления</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model?.WeatherDatas)
            {
                <tr>
                    <td>@item.Date</td>
                    <td>@item.Time</td>
                    <td>@item.Temperature</td>
                    <td>@item.RelativeHumidity</td>
                    <td>@item.DewPoint</td>
                    <td>@item.Pressure</td>
                    <td>@item.DirectionWind</td>
                    <td>@item.WindSpeed</td>
                    <td>@item.Cloudiness</td>
                    <td>@item.H</td>
                    <td>@item.VV</td>
                    <td>@item.Weather</td>
                </tr>
            }
        }
    </tbody>
</table>

@if (Model?.TotalPages > 1)
{
    <nav aria-label="Навигация">
        <ul class="pagination">
            @for (int i = 1; i <= (Model?.TotalPages ?? 0); i++)
            {
                <li class="page-item @(Model?.PageNumber == i ? "active" : "")">
                    <a class="page-link" href="?year=@(Model?.Year ?? 0)&amp;month=@(Model?.Month ?? 0)&amp;pageNumber=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
else if (Model?.TotalPages == 0)
{
    <p>Нет данных для отображения.</p>
}